<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      __MAPGEN__LEAFLET_CSS__
      __MAPGEN__MAPGEN_CSS__
      __MAPGEN__EXTERNAL_CSS__
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
      __MAPGEN__LEAFLET_JS__
      __MAPGEN__LEAFLET_PROVIDERS_JS__
      __MAPGEN__MAPGEN_JS__
      __MAPGEN__EXTERNAL_JS__
    </script>
  </body>
</html>
